<%- include("partials/header") -%>
  <h1> Note <% noteObject.noteTitle %> Details </h1>
  <hr>
  <h1> <%= noteObject.noteTitle %> </h1>
  <p> <%= noteObject.noteContent %> </p>
<%- include("partials/footer") -%>
